doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
      .w3-row-padding img {margin-bottom: 12px}
      .w3-sidebar {width: 160px;background: #222;}
      #main {margin-left: 120px}
    
  body(class='w3-black')
    nav(class='w3-sidebar w3-bar-block w3-small w3-hide-small w3-center')
      img(src='/images/man_dumbells.jpeg' style='width:100%;')
      a(href='/' class='w3-bar-item w3-button w3-padding-large w3-black')
        i(class='fa fa-home w3-xlarge')
        p Fitness App
      if !loggedIn
        a(href='/login' class='w3-bar-item w3-button w3-padding-large w3-black')
          i(class='fa fa-user w3-xlarge') 
          p Login
      if !loggedIn
        a(href='/register' class='w3-bar-item w3-button w3-padding-large w3-black')
          i(class='fa fa-user w3-xlarge') 
          p Register
      if loggedIn
        a(href='/workout-form' class='w3-bar-item w3-button w3-padding-large w3-black')
          i(class='fa fa-envelope w3-xlarge') 
          p Create Workout
      if loggedIn
        a(href='/workout' class='w3-bar-item w3-button w3-padding-large w3-black')
          i(class='fa fa-eye w3-xlarge') 
          p Show Workouts
      if loggedIn
        a(href='/activity' class='w3-bar-item w3-button w3-padding-large w3-black')
          i(class='fa fa-eye w3-xlarge') 
          p Show Activity
      if loggedIn
        a(href='/logout' class='w3-bar-item w3-button w3-padding-large w3-black')
          i(class='fa fa-user w3-xlarge') 
          p Logout

    block content

    .panel-footer
      small &copy; Group 15

